.App {
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.left {
    display: block;
}

.right {
    display: flex;
    width: 350px;
    flex-flow: column nowrap;
    margin-left: 100px;
}

.product-card {
    display: flex;
    flex-flow: column nowrap;
    width: 250px;
    margin: 25px;
    padding: 25px;
    gap: 10px;
    border-radius: 15px;
    background-color: #E7E9EB;
}

h4 {
    margin: 0;
}

.cart li{
    margin: 20px
}

#checkout {
    display: flex;
    flex-flow: column nowrap;
}

button {
    border: 0;
    border-radius: 30px;
    background-color: #555555;
    color: white;
    padding: 10px;
    width: 125px;
    font-weight: bold;
}